# Data Preprocessing

Для того что бы подготовить наш датасет к дальнейшим исследованиям, загрузим сначала библиотеки которые нам пригодятся для подготовки.

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
df = pd.read_csv('insurance_claimsV1.csv', sep=',')

Загружаем наш датасет. Для наглядности выведем импортрованнные данные на экран; убедимся, что всё загрузилось должным образом. 

Итак, имеем 39 стобцов переменных по 39000 строк записей.

In [3]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NaN,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,1,NaN,87200,17440,8720,61040,Honda,Accord,2006,N
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,3,NaN,108480,18080,18080,72320,Volkswagen,Passat,2015,N
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,1,YES,46980,5220,5220,36540,Audi,A5,1998,N
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,3,NaN,5060,460,920,3680,Mercedes,E400,2007,N

In [4]:
#Прежде чем начать подготовку датасета к предстоящейму анализу избавимся от переменных которые не несут в себе смысловой информации, которая влияла бы на прогнозы далее. Было принято решение удалить следующие переменные: 
#insured_zip,policy_number,auto_model,incident_state,incident_date,incident_location,policy_state. Это качественные переменные которые характеризует сам инцидент.

In [5]:
df = df.drop(['insured_zip','policy_number','auto_model','incident_state','incident_date','incident_location','policy_state',], axis='columns', inplace=False)
df.head(5)

,months_as_customer,age,policy_bind_date,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,328,48,2014-10-17,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,1,2,YES,71610,6510,13020,52080,Saab,2004,Y
1,228,42,2006-06-27,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,0,0,NaN,5070,780,780,3510,Mercedes,2007,Y
2,134,29,2000-09-06,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,2,3,NO,34650,7700,3850,23100,Dodge,2007,N
3,256,41,1990-05-25,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,1,2,NO,63400,6340,6340,50720,Chevrolet,2014,Y
4,228,44,2014-06-06,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,0,1,NO,6500,1300,650,4550,Accura,2009,N

Выведем статистику по числовым переменным, где сразу увидим, что в покрайней мере в переменной police_report_available имеются пропущенные значения. Для того что бы далее получить адекватные модели и прогнозы, нам нужно будет избавиться от пропущенных значений в датасете.

In [6]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

Для того что бы проверить в каких переменных присутсвуют пропуски, запустим команду которая находится ниже. Она покажет общее количество пропущенных значений для каждой переменной.

Как видим пропущенные значения присутсвуют в трех переменных, чего не было показано в статистике по числовым переменным.
Переменная property_damage имеет в общей сумме 360 пропущенныз значений, что составляет 0,36% от общей суммы значений. Соотвественно police_report_avaialble имеет 343 пропущенных значений, что составляет 0,343% и collision_type имеет 178 пропущенных значений, что составляет 0,178%.

In [7]:
# Cheking Missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                             Total  Percent
property_damage                360    0.360
police_report_available        343    0.343
collision_type                 178    0.178
months_as_customer               0    0.000
authorities_contacted            0    0.000
auto_year                        0    0.000
auto_make                        0    0.000
vehicle_claim                    0    0.000
property_claim                   0    0.000
injury_claim                     0    0.000
total_claim_amount               0    0.000
witnesses                        0    0.000
bodily_injuries                  0    0.000
number_of_vehicles_involved      0    0.000
incident_hour_of_the_day         0    0.000
incident_city                    0    0.000
incident_severity                0    0.000
age                              0    0.000
incident_type                    0    0.000
capital-loss                     0    0.000
capital-gains                    0    0.000
insured_relationship             0    0.000
insured_hobbies                  0    0.000
insured_occupation               0    0.000
insured_education_level          0    0.000
insured_sex                      0    0.000
umbrella_limit                   0    0.000
policy_annual_premium            0    0.000
policy_deductable                0    0.000
policy_csl                       0    0.000
policy_bind_date                 0    0.000
fraud_reported                   0    0.000

Согласно полученным данным, пропущенные данные имеются только в качественных переменных. Соотвественно, нам нужно избавиться от них. Для этого используем метод заполнения most frequent - самые частые. С помощью этого метода будут отобраны наиболее часто встречающиеся ответы и пропуски будут заполнены этим значением.

In [8]:
# Function Missing data (non-numeric)
def fill_missing_char(x):
    char_var = list(set(x.columns) - set(x._get_numeric_data().columns))
    for col_names in char_var:        
        prep_fr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
        prep_fr.fit(x[char_var])
        x[char_var] = prep_fr.transform(x[char_var])
    return(x)

Записываем в наш датафрейм уже очищенные данные.

In [9]:
# Filling NA 
from sklearn.impute import SimpleImputer
df = fill_missing_char(df)

Повторно делаем проверку, которая указывает на отсутствие пропусков в данных.

In [10]:
# Cheking Missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                             Total  Percent
months_as_customer               0      0.0
age                              0      0.0
auto_year                        0      0.0
auto_make                        0      0.0
vehicle_claim                    0      0.0
property_claim                   0      0.0
injury_claim                     0      0.0
total_claim_amount               0      0.0
police_report_available          0      0.0
witnesses                        0      0.0
bodily_injuries                  0      0.0
property_damage                  0      0.0
number_of_vehicles_involved      0      0.0
incident_hour_of_the_day         0      0.0
incident_city                    0      0.0
authorities_contacted            0      0.0
incident_severity                0      0.0
collision_type                   0      0.0
incident_type                    0      0.0
capital-loss                     0      0.0
capital-gains                    0      0.0
insured_relationship             0      0.0
insured_hobbies                  0      0.0
insured_occupation               0      0.0
insured_education_level          0      0.0
insured_sex                      0      0.0
umbrella_limit                   0      0.0
policy_annual_premium            0      0.0
policy_deductable                0      0.0
policy_csl                       0      0.0
policy_bind_date                 0      0.0
fraud_reported                   0      0.0

In [11]:
df

,months_as_customer,age,policy_bind_date,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,328,48,2014-10-17,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,1,2,YES,71610,6510,13020,52080,Saab,2004,Y
1,228,42,2006-06-27,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,0,0,NO,5070,780,780,3510,Mercedes,2007,Y
2,134,29,2000-09-06,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,2,3,NO,34650,7700,3850,23100,Dodge,2007,N
3,256,41,1990-05-25,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,1,2,NO,63400,6340,6340,50720,Chevrolet,2014,Y
4,228,44,2014-06-06,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,0,1,NO,6500,1300,650,4550,Accura,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,1991-07-16,500/1000,1000,1310.80,0,FEMALE,Masters,craft-repair,...,0,1,NO,87200,17440,8720,61040,Honda,2006,N
996,285,41,2014-01-05,100/300,1000,1436.79,0,FEMALE,PhD,prof-specialty,...,2,3,NO,108480,18080,18080,72320,Volkswagen,2015,N
997,130,34,2003-02-17,250/500,500,1383.49,3000000,FEMALE,Masters,armed-forces,...,2,3,YES,67500,7500,7500,52500,Suburu,1996,N
998,458,62,2011-11-18,500/1000,2000,1356.92,5000000,MALE,Associate,handlers-cleaners,...,0,1,YES,46980,5220,5220,36540,Audi,1998,N
999,456,60,1996-11-11,250/500,1000,766.19,0,FEMALE,Associate,sales,...,0,3,NO,5060,460,920,3680,Mercedes,2007,N

In [12]:
# Cheking categorical data. Поскольку наш датасет содержит качественные переменныые какждая из которых имеет по несколько уникальных признаков,на необходимо их закодировать. 
dfs = df[['insured_sex','insured_occupation','insured_hobbies','insured_relationship','incident_type','collision_type','incident_severity','authorities_contacted','property_damage','police_report_available','auto_make','fraud_reported','policy_csl','insured_education_level']]
info = []
for column in dfs.columns:
        vals = {"col": column,
                "nunique": dfs[column].nunique(),
                "unique": dfs[column].unique(),
                "type": dfs[column].dtype
               }
        info.append(vals)
pd.DataFrame(info).sort_values(by = "col", ascending = False)

,col,nunique,unique,type
8,property_damage,2,"[YES, NO]",object
12,policy_csl,3,"[250/500, 100/300, 500/1000]",object
9,police_report_available,2,"[YES, NO]",object
0,insured_sex,2,"[MALE, FEMALE]",object
3,insured_relationship,6,"[husband, other-relative, own-child, unmarried...",object
1,insured_occupation,14,"[craft-repair, machine-op-inspct, sales, armed...",object
2,insured_hobbies,20,"[sleeping, reading, board-games, bungie-jumpin...",object
13,insured_education_level,7,"[MD, PhD, Associate, Masters, High School, Col...",object
4,incident_type,4,"[Single Vehicle Collision, Vehicle Theft, Mult...",object
6,incident_severity,4,"[Major Damage, Minor Damage, Total Loss, Trivi...",object
11,fraud_reported,2,"[Y, N]",object
5,collision_type,3,"[Side Collision, Rear Collision, Front Collision]",object
10,auto_make,14,"[Saab, Mercedes, Dodge, Chevrolet, Accura, Nis...",object
7,authorities_contacted,5,"[Police, None, Fire, Other, Ambulance]",object

In [13]:
# Encoding
pd = {'NO':0,'YES':1}
pc = {'250/500':0,'100/300':1,'500/1000':2}
pra = {'NO':0,'YES':1}
ins = {'MALE':0,'FEMALE':1}
inr = {'husband':0,'other-relative':1,'own-child':2,'unmarried':3}

ino = {'machine-op-inspct':0,'prof-specialty':1,'tech-support':2,'adm-clerical':3,'armed-forces':3,'craft-repair':3,'exec-managerial':3,'farming-fishing':3,'handlers-cleaners':3,'other-service':3,'priv-house-serv':3,'protective-serv':3,'sales':3,'transport-moving':3}

inh = {'reading':0,'paintball':1,'bungie-jumping':2,'camping':3,'chess':3,'cross-fit':3,'dancing':3,'exercise':3,'golf':3,'hiking':3,'kayaking':3,'movies':3,'polo':3,'skydiving':3,'video-games':3,'yachting':3}
inel = {'Associate':0,'College':1,'High School':2,'JD':3,'Masters':3,'MD':3,'PhD':3}
inty = {'Single Vehicle Collision':0,'Vehicle Theft':1,'Total Loss':2,'Trivial Damage':3}
inse = {'Major Damage':0,'Minor Damage':1,'Total Loss':2,'Trivial Damage':3}
fr = {'N':0,'Y':1}
colt = {'Side Collision':0,'Rear Collision':1,'Front Collision':2}
aum =  {'Dodge':0,'Saab':1,'Suburu':2,'Accura':3,'Audi':3,'BMW':3,'Chevrolet':3,'Ford':3,'Honda':3,'Jeep':3,'Mercedes':3,'Nissan':3,'Toyota':3,'Volkswagen':3}
authc = {'Police':0,'None':1,'Fire':2,'Other':3,'Ambulance':4}

df['property_damage'] = df['property_damage'].map(pd)
df['policy_csl'] = df['policy_csl'].map(pc)
df['police_report_available'] = df['police_report_available'].map(pra)
df['insured_sex'] = df['insured_sex'].map(ins)
df['insured_relationship'] = df['insured_relationship'].map(inr)
df['insured_occupation'] = df['insured_occupation'].map(ino)
df['insured_hobbies'] = df['insured_hobbies'].map(inh)
df['insured_education_level'] = df['insured_education_level'].map(inel)
df['incident_type'] = df['incident_type'].map(inty)
df['incident_severity'] = df['incident_severity'].map(inse)
df['fraud_reported'] = df['fraud_reported'].map(fr)
df['collision_type'] = df['collision_type'].map(colt)
df['auto_make'] = df['auto_make'].map(aum)
df['authorities_contacted'] = df['authorities_contacted'].map(authc)

In [14]:
df

,months_as_customer,age,policy_bind_date,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
0,328,48,2014-10-17,0,1000,1406.91,0,0,3,3,...,1,2,1,71610,6510,13020,52080,1,2004,1
1,228,42,2006-06-27,0,2000,1197.22,5000000,0,3,0,...,0,0,0,5070,780,780,3510,3,2007,1
2,134,29,2000-09-06,1,2000,1413.14,5000000,1,3,3,...,2,3,0,34650,7700,3850,23100,0,2007,0
3,256,41,1990-05-25,0,2000,1415.74,6000000,1,3,3,...,1,2,0,63400,6340,6340,50720,3,2014,1
4,228,44,2014-06-06,2,1000,1583.91,6000000,0,0,3,...,0,1,0,6500,1300,650,4550,3,2009,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,1991-07-16,2,1000,1310.80,0,1,3,3,...,0,1,0,87200,17440,8720,61040,3,2006,0
996,285,41,2014-01-05,1,1000,1436.79,0,1,3,1,...,2,3,0,108480,18080,18080,72320,3,2015,0
997,130,34,2003-02-17,0,500,1383.49,3000000,1,3,3,...,2,3,1,67500,7500,7500,52500,2,1996,0
998,458,62,2011-11-18,2,2000,1356.92,5000000,0,0,3,...,0,1,1,46980,5220,5220,36540,3,1998,0
999,456,60,1996-11-11,0,1000,766.19,0,1,0,3,...,0,3,0,5060,460,920,3680,3,2007,0

In [15]:
df.describe()

,months_as_customer,age,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,828.000000,...,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,0.949000,1136.000000,1256.406150,1.101000e+06,0.537000,2.161000,2.473000,2.562802,...,0.992000,1.487000,0.314000,52761.94000,7433.420000,7399.570000,37928.950000,2.520000,2005.103000,0.247000
std,115.113174,9.140287,0.805635,611.864673,244.167395,2.297407e+06,0.498879,1.118181,0.989065,0.921157,...,0.820127,1.111335,0.464349,26401.53319,4880.951853,4824.726179,18886.252893,0.943658,6.015861,0.431483
min,0.000000,19.000000,0.000000,500.000000,433.330000,-1.000000e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,0.000000,1995.000000,0.000000
25%,115.750000,32.000000,0.000000,500.000000,1089.607500,0.000000e+00,0.000000,1.000000,2.000000,3.000000,...,0.000000,1.000000,0.000000,41812.50000,4295.000000,4445.000000,30292.500000,3.000000,2000.000000,0.000000
50%,199.500000,38.000000,1.000000,1000.000000,1257.200000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,1.000000,1.000000,0.000000,58055.00000,6775.000000,6750.000000,42100.000000,3.000000,2005.000000,0.000000
75%,276.250000,44.000000,2.000000,2000.000000,1415.695000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,2.000000,2.000000,1.000000,70592.50000,11305.000000,10885.000000,50822.500000,3.000000,2010.000000,0.000000
max,479.000000,64.000000,2.000000,2000.000000,2047.590000,1.000000e+07,1.000000,3.000000,3.000000,3.000000,...,2.000000,3.000000,1.000000,114920.00000,21450.000000,23670.000000,79560.000000,3.000000,2015.000000,1.000000

Произведем преобразование для искаженных распределений и продемонстрируем результат.

In [16]:
# Function Outliers избавление от выбросов 
def outliers(df):
    num_var = list(df._get_numeric_data().columns)
    for col_names in num_var:
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()-3*df[col_names].std() 
                            if y < df[col_names].mean()-3*df[col_names].std() else y)
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()+3*df[col_names].std() 
                            if y > df[col_names].mean()+3*df[col_names].std() else y)
    return(df)

In [17]:
# Outliers 
df = outliers(df)
df.describe()

,months_as_customer,age,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,828.000000,...,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,0.949000,1136.000000,1256.476176,1.091898e+06,0.537000,2.161000,2.473000,2.562802,...,0.992000,1.487000,0.314000,52761.94000,7433.420000,7397.773749,37928.950000,2.520000,2005.103000,0.247000
std,115.113174,9.140287,0.805635,611.864673,243.570287,2.266996e+06,0.498879,1.118181,0.989065,0.921157,...,0.820127,1.111335,0.464349,26401.53319,4880.951853,4818.993582,18886.252893,0.943658,6.015861,0.431483
min,0.000000,19.000000,0.000000,500.000000,523.903965,-1.000000e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,0.000000,1995.000000,0.000000
25%,115.750000,32.000000,0.000000,500.000000,1089.607500,0.000000e+00,0.000000,1.000000,2.000000,3.000000,...,0.000000,1.000000,0.000000,41812.50000,4295.000000,4445.000000,30292.500000,3.000000,2000.000000,0.000000
50%,199.500000,38.000000,1.000000,1000.000000,1257.200000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,1.000000,1.000000,0.000000,58055.00000,6775.000000,6750.000000,42100.000000,3.000000,2005.000000,0.000000
75%,276.250000,44.000000,2.000000,2000.000000,1415.695000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,2.000000,2.000000,1.000000,70592.50000,11305.000000,10885.000000,50822.500000,3.000000,2010.000000,0.000000
max,479.000000,64.000000,2.000000,2000.000000,1987.807651,7.993220e+06,1.000000,3.000000,3.000000,3.000000,...,2.000000,3.000000,1.000000,114920.00000,21450.000000,21873.748536,79560.000000,3.000000,2015.000000,1.000000

Осуществим работы с выбросами в числовых переменных: для этого запишем функцию для поиска и замены данных, выходящих за пределы 3 сигма.

In [18]:
# Function Outliers
def outliers(df):
    num_var = list(df._get_numeric_data().columns)
    for col_names in num_var:
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()-3*df[col_names].std() 
                            if y < df[col_names].mean()-3*df[col_names].std() else y)
        df[col_names] = df[col_names].apply(lambda y: df[col_names].mean()+3*df[col_names].std() 
                            if y > df[col_names].mean()+3*df[col_names].std() else y)
    return(df)

Запишем в наш датафрейм уже очищенные от  выбросов переменные и повторно выведем статистику.

In [19]:
# Outliers
df = outliers(df)
df.describe()

,months_as_customer,age,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_year,fraud_reported
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,828.000000,...,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,0.949000,1136.000000,1256.479248,1.090393e+06,0.537000,2.161000,2.473000,2.562802,...,0.992000,1.487000,0.314000,52761.94000,7433.420000,7397.754754,37928.950000,2.520000,2005.103000,0.247000
std,115.113174,9.140287,0.805635,611.864673,243.557139,2.262438e+06,0.498879,1.118181,0.989065,0.921157,...,0.820127,1.111335,0.464349,26401.53319,4880.951853,4818.936505,18886.252893,0.943658,6.015861,0.431483
min,0.000000,19.000000,0.000000,500.000000,525.765314,-1.000000e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,0.000000,1995.000000,0.000000
25%,115.750000,32.000000,0.000000,500.000000,1089.607500,0.000000e+00,0.000000,1.000000,2.000000,3.000000,...,0.000000,1.000000,0.000000,41812.50000,4295.000000,4445.000000,30292.500000,3.000000,2000.000000,0.000000
50%,199.500000,38.000000,1.000000,1000.000000,1257.200000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,1.000000,1.000000,0.000000,58055.00000,6775.000000,6750.000000,42100.000000,3.000000,2005.000000,0.000000
75%,276.250000,44.000000,2.000000,2000.000000,1415.695000,0.000000e+00,1.000000,3.000000,3.000000,3.000000,...,2.000000,2.000000,1.000000,70592.50000,11305.000000,10885.000000,50822.500000,3.000000,2010.000000,0.000000
max,479.000000,64.000000,2.000000,2000.000000,1987.157178,7.892886e+06,1.000000,3.000000,3.000000,3.000000,...,2.000000,3.000000,1.000000,114920.00000,21450.000000,21854.754493,79560.000000,3.000000,2015.000000,1.000000